.share-dropdown {
    width: 120px;
    height: 38px;
    /* background-color:#3a4f70; */
    margin-top: -60px;
    margin-left:356px;
    border-radius: 10px;

}

.icons i{
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.facebook{
    color: #3a4f70;
}

.twitter {
    color: rgb(36, 120, 230);
}

.github{
    color: black;
}

@media screen and (max-width: 800px) {
    .share-dropdown{
        margin-left: 280px;
        margin-top: -60px;
      
    }
}

@media screen and (max-width: 375px) {
    .share-dropdown{
        margin-left: 235px;
        margin-top: -60px;
      
    }
}

@media screen and (max-width:800px){
    .icons svg{
        width: 19px;
        height: 19px;
       
    }
}



